extends layout 

block content 
    h1= title 

    form(method='POST' action='/new')
        div(class='forms')
            label(for='name' class='labels') User: 
            input(type='text'
                placeholder='Please enter your name'
                name='name'
                value=(undefined===name ? '' : message.name),
                required='true')
            
            label(for='text' class='labels') Message: 
            input(type='text'
                placeholder='Type your message here'
                name='text'
                value=(undefined===text ? '' : message.text),
                required='true')

            button(type='submit') Submit

    if errors 
        ul 
            for error in errors
                li!= error.msg